{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form id="form">
        <div id="user-info">
          <div class="form-field">
            <input
              required
              class="form-control"
              type="text"
              name="name"
              placeholder="Họ và tên"
            />
          </div>
          <div class="form-field">
            <input
              required
              class="form-control"
              type="tel"
              name="tel"
              placeholder="Số điện thoại"
            />
          </div>
        </div>

        <div id="shipping-info">
          <div class="form-field shipping">
            <input
              class="form-control"
              type="text"
              name="address"
              placeholder="Địa chỉ"
            />
          </div>
        </div>

        <hr />
        <input
          id="form-button"
          class="btn btn-success btn-block"
          type="submit"
          value="Tiếp tục"
        />
      </form>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'cart' %}"
        >&#x2190; Quay lại giỏ hàng</a
      >
      <hr />
      <h3>Tổng thanh toán</h3>
      <hr />
      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{% static 'images/placeholder.png' %}" />
        </div>
        <div style="flex: 2"><p>Product</p></div>
        <div style="flex: 1"><p>60.000 VND</p></div>
        <div style="flex: 1"><p>x3</p></div>
      </div>
      <h5>Sản phẩm: 3</h5>
      <h5>Tổng tiền: 60.000 VND</h5>
    </div>
  </div>
</div>
{% endblock content %}
